<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<div>
    <h2>Update user</h2>
    <form  action="#" th:action="@{user-update}" th:object="${user}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <label for="name">Name</label>
        <br>
        <input type="text" th:field="*{name}" id="name" >
        <br>
        <br>
        <label for="surname">Surname</label>
        <br>
        <input type="text" th:field="*{surname}" id="surname" >
        <br>
        <br>
        <label for="age">Age</label>
        <br>
        <input type="text" th:field="*{age}" id="age" >
        <br>
        <br>

        <button type="submit">Update</button>

    </form>
</div>
</body>
</html>