<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<div>
<h2>Create user</h2>
<form  action="#" th:action="@{user-create}" th:object="${user}" method="post">
        <label for="name">Name</label>
    <br>
    <input type="text" th:field="*{name}" id="name" >
    <br>
    <label for="surname">Surname</label>
    <br>
    <input type="text" th:field="*{surname}" id="surname" >
    <br>
    <label for="age">Age</label>
    <br>
    <input type="text" th:field="*{age}" id="age" >
    <br>
    <label for="age">Username</label>
    <br>
    <input type="text" th:field="*{username}" id="username" >
    <br>
    <label for="age">Password</label>
    <br>
    <input type="text" th:field="*{password}" id="password" >
    <br>

    <br>
    <button type="submit">Save</button>
    <br>
<br>
    <a th:href="@{/logout}">logout</a>
</form>
</div>
</body>
</html>