<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br>
<div>
    <div>
        <table border="5" >
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Username</th>
                <th>Roles</th>


            </tr>
            <tr>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.surname}">Surname</td>
                <td th:text="${user.age}">Age</td>
                <td th:text="${user.username}">Username</td>
                <td th:each="role : ${role}" th:text="${role.name}">Role</td>


            </tr>
        </table>
    </div>
</div>
<br>
<a th:href="@{/logout}">logout</a>


</body>
</html>